@import "global/breakpoints";

.homepage-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;

    /* Hero Section */
    .hero {
      position: relative;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      background-image: url("/img/hero-image.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-align: center;


      .hero-content {
        background: rgba(18, 1, 42, 0.8); /* Semi-transparent overlay for text readability */
        padding: 2% 8%;
        border-radius: 10px;
        text-align: center;
      }
h1, p{ color: white; text-align: center;}

    }

    /* Sections */
    .section {
      margin: 40px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;







    }

    /* Footer */

  }
