@import "global/breakpoints";

.homepage-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;

    /* Hero Section */
    .hero {
      position: relative;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      height: 60vh;
      background-image: url("/img/hero-image.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-align: center;

      .hero-content {
        background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay for text readability */
        padding: 20px 40px;
        border-radius: 10px;
      }
h1, p{ color: white;}

    }

    /* Sections */
    .section {
      margin: 40px 0;
      text-align: center;
      padding: 0 20px;






    }

    /* Footer */
    .footer {
      text-align: center;
      margin-top: 20px;

      p {
        font-size: 0.9rem;
        color: #777;

        @include breakpoint(xs) {
          font-size: 0.8rem;
        }
      }
    }
  }
